/* stylelint-disable docusaurus/copyright-header */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  margin-top: 4rem;
  text-align: center;
  width: 100%;
  padding: 0;
}

.grid {
  display: grid;
  margin: 0 auto;
  max-width: 90%;
  grid-template-columns: 1fr 1fr;
}

.gridItem {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

@media screen and (max-width: 996px) {
  .grid {
    max-width: 996px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .gridItem {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
  }

  .doc {
    width: 90%;
  }

  .div {
    img {
      max-width: 30px;
      max-height: 30px;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 5rem 0;
}

.contentFooter {
  margin: 0;
}

.row {
  margin: 0;
  padding: 0;
}

.bgContainer {
  background-color: #968a8e;
  width: 100%;
}

.heroBanner {
  text-align: center;
  color: #f7f7f7;
}

.slide {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

h1 {
  text-align: center;
  margin: 2.7rem 0;
}

.equipe img {
  opacity: 0.9;
}
.equipe img:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

img:hover {
  opacity: 1;
}

.mid h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
}

.mid h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  font-size: 1rem;
  transform: translate(-50%, -50%);
}

.top h2 {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 20px;
  font-size: 1rem;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 1.5rem;
  left: -29rem;
  font-weight: 900;
}

h1,
h2,
h3,
h4,
h6 {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  padding: 0.3rem;
}

.hero__title {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  padding: 0.3rem;
  font-weight: 800;
  font-size: 5vw;
  color: #ffffff;
}

@media screen and (max-width: 996px) {
  .hero__title {
    font-size: 8vw;
  }
}

.hero__title img {
  margin: 0;
  padding: 1rem;
  max-width: 15rem;
  max-height: 15rem;
  width: 15vw;
  height: 15vw;
}

.hero__subtitle {
  text-align: center;
}

.hero__subtitle {
  text-align: center;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  padding: 0.3rem;
  font-style: italic;
  font-weight: 600;
  font-size: 1.5rem;
  color: #ffffff;
}

.subtitulo {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 3vw;
  color: #fff;
}

@media screen and (max-width: 410px) {
  .subtitulo {
    font-size: 2.7vw;
  }
}

@media screen and (min-width: 996px) {
  .subtitulo {
    font-size: 2vw;
  }
}

.subtituloProjetos {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  color: #fff;
}

@media screen and (max-width: 433px) {
  .pProjetos {
    font-size: 3vw;
  }
}

.redes_sociais {
  display: inline-block;
}

.redes_sociais img {
  height: 3rem;
  width: 3rem;
  padding: 0.3rem;
}

.redesSociais {
  display: inline-block;
  text-align: left;
}

.redesSociais img {
  text-align: left;

  height: 3rem;
  width: 3rem;
  padding: 0.3rem;
}

.projetos {
  width: 90%;
  background: #dedfe1;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  margin-top: 4rem;
  border-radius: 0;
  padding: 1rem;
}

.introProjetos {
  width: 50%;
  background: #c5c5c5;
  margin: auto;
  border-radius: 0%;
  padding: 1rem;
}

.Projeto {
  text-align: center;
  border: 0.2rem solid white;
  margin: 1rem;
}

.imagemProjeto {
  margin: auto;
}

.imagemProjeto img {
  margin: 0;
  padding: 1rem;
  max-width: 15rem;
  max-height: 15rem;
  width: 15vw;
  height: 15vw;
}

.projetoTexto {
  text-align: center;
  width: 100%;
  font-weight: normal;
  padding: 1rem;
  margin-bottom: 1rem;
}

.projetoTexto h2 {
  font-size: 1.5rem;
}

.projetoTexto a {
  margin: auto;
}

.projetoTexto p {
  color: black;
  font-size: 1.2rem;
}

.projetoTexto h3 {
  color: black;
}

.heroBannerPod {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #a6a7aa;
}

.sobre_pod {
  padding: 1rem;
  column-count: 2;
}

.sobre_pod img {
  padding: 1rem;
  max-width: 15rem;
  max-height: 15rem;
  height: 25vh;
  width: 30vw;
}

.sobre_box {
  padding: 1rem;
}

.sobre_box p {
  text-align: justify;
  line-height: 2;
}

.sobre_box a {
  outline: none;
  color: #348efa;
  text-decoration: none;
}

.sobre_box h4 {
  font-weight: 900;
  text-align: justify;
  font-size: 1.2rem;
}

.equipe {
  text-align: center;
  padding-top: 2rem;
}

.imagem_equipe {
  border-radius: 100%;
  text-align: center;
  max-width: 10rem;
  max-height: 10rem;
  width: 35vw;
  height: 35vw;
  margin: auto;
  margin-bottom: 4rem;
}

.equipe h3 {
  padding: 1rem;
}

.equipe small {
  padding: 0.5rem;
  font-weight: 600;
}

.exMembro {
  display: inline-grid !important;
  text-align: center !important;
  width: 33%;
  padding: 2rem;
  margin: auto;
}

.exMembroFoto {
  text-align: center;
  border-radius: 50%;
}

.exMembro_info {
  text-align: center;
}
.exMembroFoto img {
  width: 18vw;
  height: 18vw;
  border-radius: 100%;
  max-width: 18rem;
  max-height: 18rem;
}

.membro {
  padding: 0rem;
  margin-bottom: 5rem;
}

.membro img {
  width: 3.5rem;
  height: 3.5rem;
}

.foto_perfil img {
  width: 20vw;
  height: 20vw;
  max-width: 20rem;
  max-height: 20rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-radius: 50%;
}

header h1 {
  color: auto;
}

.doc {
  margin: 0;
  width: 100%;
  padding: 3rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  min-height: 259px;
  height: 85%;
}

.doc aside {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.doc h3 {
  text-align: left;
}

.doc img {
  max-width: 200px;
  max-height: 190px;
}

/* botão doc */
.doc a {
  align-self: flex-end;
}

header div p {
  text-align: center;
}

.card__body p {
  color: black;
}

.cardContent {
  display: flex;
  text-align: left;
  height: 88rem;
}

.membro_info img {
  width: 3rem;
  height: 3rem;
}

.info {
  margin-top: 1rem;
  height: 37rem;
  position: relative;
}

.flexEstagioProjetos {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.flexEstagioProjetos img {
  padding: 1rem;
  max-width: 15rem;
  max-height: 15rem;
  height: 25vh;
  width: 30vw;
}

@media screen and (max-width: 996px) {
  .flexEstagioProjetos {
    flex-direction: column;

    img {
      padding: 0;
    }
  }
}

.info button {
  position: relative;
  bottom: 0;
}

.noticiasImg img {
  padding: 1rem;
  max-width: 20rem;
  max-height: 20rem;
  height: 25vh;
  width: 30vw;
}

.imagemInfo {
  margin: auto;
}

.docsLabri img {
  padding: 1rem;
  max-width: 15rem;
  max-height: 15rem;
  height: 25vh;
  width: 30vw;
}
.imagemInfo img {
  padding: 1rem;
  max-width: 15rem;
  max-height: 15rem;
  height: 25vh;
  width: 30vw;
}

/* .equipe h6, .equipe h4, .equipe p, .equipe small {
  color: black;
} */

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: auto;
  padding: 0;
  width: 25rem;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  margin: auto;
}

.tipos_projeto {
  align-items: baseline !important;
  padding: 4rem;
  margin-top: 5rem;
}

.img_align {
  margin: auto;
  width: 50%;
}
.img_align .button {
  text-align: center;
}

.categoria_projeto {
  text-align: justify;
}

.Infos {
  margin-top: 2rem;
  background-color: #dedfe1;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2rem;
}

[data-theme="dark"] .Infos {
  background-color: transparent;
  border-color: #f4f6fe;
  border-width: 0.2rem;
}

.InfosP {
  margin-bottom: 7rem;
  background-color: #dedfe1;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2rem;
}

[data-theme="dark"] .docsLabri p {
  background-color: transparent;
  border-color: #f4f6fe;
  border-width: 0.2rem;
  color: #dedfe1;
}

[data-theme="dark"] .InfosP {
  background-color: transparent;
  border-color: #f4f6fe;
  border-width: 0.2rem;
}

[data-theme="dark"] .projetos {
  background-color: transparent;
  border-color: #f4f6fe;
  border-width: 0.2rem;
}

[data-theme="dark"] .projetos p {
  color: #dedfe1;
}

[data-theme="dark"] .projetoTexto h3 {
  color: #dedfe1;
}

.h1A {
  margin: 3rem;
  font-size: 2vw;
  font-weight: bolder;
  font-family: "Josefin Sans", sans-serif;
  padding: 1rem;
}

@media screen and (max-width: 996px) {
  .h1A {
    margin: 0;
    font-size: 3vw;
  }
}

.h4Projetos {
  text-align: justify;
  font-size: 1.2vw;
  padding: 0;
}

@media screen and (max-width: 996px) {
  .h4Projetos {
    text-align: justify;
    font-size: 2vw;
    padding: 0;
  }
}

.logosGrupos img {
  text-align: center;
  width: 25rem;
  height: 25rem;
}

/* carrossel */

.heroBanner {
  text-align: center;
}

.slide {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.carousel {
  position: relative;
  display: block;
  width: 100%;
}

.bkgimg {
  max-width: none;
  max-height: 295px;
  overflow: hidden;
  padding-bottom: 6rem;
  padding-right: 0;
  opacity: 0.6;
}

.slideHeading {
  position: absolute;
  left: 10rem;
  top: 30%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  margin-right: 4rem;
  z-index: 1;
  text-align: left;
}

.slideSubheading {
  position: absolute;
  left: 10rem;
  top: 50%;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.button {
  display: block;
  align-items: center;
  justify-content: center;
}

.readMore {
  position: absolute;
  left: 10rem;
  top: 50%;
  z-index: 1;
}

.carouselbutton {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #9bafd3;
  border-radius: 50%;
  border: 0;
  color: white;
  font-size: 30px;
  width: 50px;
  height: 50px;
}

.backbutton {
  left: 20px;
}

.nextbutton {
  right: 20px;
}

.carouseldots {
  display: block;
  text-align: center;
  margin-top: -50px;
}

.carouseldot {
  height: 12px;
  width: 12px;
  margin-left: 7px;
  margin-right: 7px;
  transform: translateY(50%);
  border-radius: 50%;
  border: 0;
  transition: all 0.3s;
}

.carouseldot:disabled {
  background-color: #9bafd3;
}

.caption {
  margin-top: 15px;
  color: #555555;
  font-size: 80%;
}

.caption a {
  color: #268f8b;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.h1HeroTitle {
  font-family: "Josefin Sans", sans-serif !important;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .heroBanner {
    padding: 3rem 0.5rem 4rem;
  }

  .slide {
    height: 400px;
  }

  .logo {
    width: 90px;
    padding: 15px;
  }

  .slideHeading {
    left: 5rem;
    margin-right: 2rem;
  }

  .readMore {
    left: 5rem;
  }

  .h1HeroTitle {
    font-size: large;
  }

  .subtitle {
    font-size: medium;
  }
}

.subtitle {
  color: white;
  font-family: "Josefin Sans", sans-serif;
}

// .subtitleCarousel {
//   font-size: 1.2rem;
//   margin-top: 3rem;
//   text-align: left;
//   margin-left: 0;
//   padding-left: 0;
// }

// .subtitleCarousel2 {
//   font-size: 1.2rem;
//   margin-top: 3rem;
//   text-align: right;
//   margin-right: 0;
//   padding-right: 0;
// }

.center {
  text-align: center;
}
