@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

 
/* hero banner */
 
.heroBanner {
    background-color: transparent;
    padding: 1rem 0;
    position: relative;
    overflow: hidden; 
    margin-bottom: 0;
    align-items: center;
    border-bottom: 2px solid #0F526C;
}

[data-theme='dark'] .heroBanner{
    background-color: #fff;
}

.LogoLantri img {
    text-align: center;
    margin-left: 3.5rem;
    width: 35rem;
}

.Menu{
    float: center;
    align-content: center;
    width: 100%;
    margin-top: 1rem;
    object-fit: contain;
}

.ulLista{
    background-color: transparent;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: center;
    width: 100;
}

.ulLogos{
    background-color: transparent;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: center;
    width: 100;
}

.liLista{
    float: right;
    cursor: pointer;
}

.liLista a {
    display: block;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: transparent;
    border-right: 1px solid #0F526C;
    color: #0F526C;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
}

.liLista a:hover{
    background-color: #0F526C;
    color: #c4c4c4;
}

.liLogos img{
    width: 15px;
}

.liLogos a{
    display: block;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: transparent;
}

/* mobile view: heroBanner */

@media screen and (max-width: 996px) {
    .LogoLantri {
      width: 12rem;
    }

    .liLista a{
        font-size: 0.4rem;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }

    .liLogos img{
        width: 0.8rem;
    }

    .liLogos a{
        padding-right: 0.1rem;
        padding-left: 0.1rem;
    }
  }

/* primeira coluna */

.colunaSemFundo{
    background-color: transparent;
    width: 100%;
    padding: 2rem;
}

.h2Lantri{
    color: #0F526C;
    font-family:  "Roboto", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: left;
}

.h2Home{
    color: #0F526C;
    font-family:  "Roboto", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: left;
    padding-top: 5rem;
}

.h2Home2{
    color: #f1f1f1;
    font-family:  "Roboto", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: right;
    padding-top: 5rem;
}

.texto{
    color: #0F526C;
    font-family:  "Roboto", sans-serif;
    font-weight: 800;
    font-size: 0.8rem;
    text-align: justify;
    line-height: 1.5;
}

.botaoInfo{
    font-size: 80%;
    font-family: "Roboto", sans-serif;
    color: #fff;
    background-color: #0F526C;
  }

.botaoInfo:hover{
    color: #0F526C;
    background-color: transparent;
}

.logo img{
    width: 100%;
    margin-top: 2rem;
}

.logoHome{
    width: 15rem;
    padding-top: 2rem;
}

.logoHome2{
    width: 10rem;
    padding-top: 2rem;
}

/* coluna com fundo colorido */

.colunaComFundo{
    background-color: #0F526C;
    width: 100%;
    margin: 2rem;
}

.botoes{
    margin-top: 6rem;
    padding-left: 5rem;
    align-items: center;
}

.p{
    text-align: center;
}

.botaoSegundaColuna{
    background-color: #f1f1f1;
    color:#0F526C;
    font-family: "Roboto", sans-serif;
    font-size: 80%;
}

.botaoSegundaColuna:hover{
    background-color: transparent;
    color:#f1f1f1;
}

.h2Azul{
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 1rem;
    text-align: center;
    color: #f1f1f1;
    margin-top: 8rem;
}

.h2Titulo{
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    color: #f1f1f1;
    margin-top: 1rem;
}

.h2Titulo2{
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    color: #0F526C;
    margin-top: 1rem;
}

.paragrafo{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    color: #f1f1f1
}

.paragrafo2{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    text-align: justify;
    color: #f1f1f1;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* imagens */

.ilustracao{
    padding: 1rem;
    width: 10rem;
}

.EmConstrucao{
    width: 100%;
}

/* cards */

.containerCards{
    margin-bottom: 5rem;
    width: 80%;
}

.Cards{
    background-color: #3CBAC0;
    padding: 1rem;
    border-radius: 3%;
    align-items: center;
}

.Cards2{
    background-color: #f1f1f1;
    padding: 1rem;
    border-radius: 3%;
    align-items: center;
}

.SobreCards img{
    text-align: center;
    opacity: 0.7;
}

.SobreCards img:hover{
    opacity: 1;
}

.descricao{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    font-style: italic;
    color: #0F526C;
    text-align: center;
}

/* config básicas */

.row{
    width: 100%;
}

.containerAzul{
    padding: 2rem;
}

.pLantri{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #0F526C
}

.texto{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    color: #0F526C;
}

.texto2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    color: #f1f1f1;
}

.alinhar{
    text-align: right;
}

.h4Texto{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 1.1rem;
    color: #f1f1f1;
}

.h4Texto2{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 1.1rem;
    color: #0F526C;
}

.h4Link{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 1.1rem;
    text-align: left;
    color: #0F526C;
}

.icone{
    width: 8rem;
    padding-left: 4rem;
}