@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

.main{
    background-color: #f6f6f6;
}

[data-theme='dark'] .main{
    background-color: transparent;
}

.heroBanner {
    text-align: center;
    background-color: #33722e;
    padding: 1rem 0;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0rem;
    margin-top: 0rem;
    text-align: center;
    width: 100%
}

.containerS {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 0rem;
    margin-top: 2rem;
    text-align: center;
    width: 100%
}

.hero__title{
    text-align: center;
    font-family: "Hammersmith One", sans-serif;
    padding: 0.3rem;
    font-weight: 400;
    font-size: 4rem;
    color:#33722e;
    letter-spacing: 10%;
}

.hero__subtitle{
    text-align: center;
    text-transform: uppercase;
    font-family: "Hammersmith One", sans-serif;
    padding: 0.3rem;
    font-weight: 400;
    font-size: 1rem; 
    color: #33722e;
    letter-spacing: 10%;
    margin-bottom: 0;
}

.pConhecer{
    color: rgb(44, 44, 44);
    font-family: "Hammersmith One", sans-serif;
    padding-top: 3rem;
    margin-right: 10rem;
    margin: 3rem;
}

.conhecerSobre img{
    text-align: center;
    width: fit-content;
    object-fit: fill;
    display: flex;
}

.conhecerSobre{
    width: 100%;
    height: 100%;
}

.containerColuna1{
    padding: 3rem 2rem 2rem 3rem;
    width: 100%;
}

.Atividades img{
    text-align: center;
    width: fit-content;
    object-fit:fill;
    display: flex;
}

.h2Gepdai{
    color: #33722e;
    font-size: 2vw;
}

.Info img{
    text-align: center;
    margin: 0;
    padding: 1rem;
    max-width: 18rem;
    max-height: 18rem;
    width: 18vw;
    height: 18vw;
}

.Icons img{
    text-align: center;
    margin: 0;
    padding: 1rem;
    max-width: 2rem;
    max-height: 2rem;
    width: 9vw;
    height: 9vw;
}

.LogoGepdai img{
    text-align: center;
    margin: 0;
    padding: 0rem;
    width: 30%;
    align-items: center;
  }

.ulLista{
    background-color: #33722e;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    word-spacing: 2rem;
    float: center;
}

.liLista{
    float: left;
    cursor: pointer;
}

.liLista a {
    display: block;
    padding: 8px;
    background-color: #33722e;
    color: #f1f1f1;
    font-weight: 400;
    font-family: "Hammersmith One", sans-serif;
    font-size: 1.8vw;
}

.liLista a:hover{
    background-color: #f1f1f1;
    color: #33722e;
}

@media(max-width:470px){
    .liLista a{
        font-size: 1vw;
    }
}

@media(max-width:359px){
    .liLista a{
        font-size: 1vw;
    }
}

@media(max-width:297px){
    .liLista a{
        font-size: 1.5vw;
    }
}

.Menu{
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    float: center;
    align-content: center;
    width: 100%;
    box-sizing: border-box;
    object-fit: contain;
}

[data-theme='dark'] .Menu{
    border-top: transparent;
    border-bottom: transparent;
}

.Atividades{
    background-color: #33722e;
    margin-bottom: 2rem;
}

.pAtividades{
    color: #EBF1E0;
    font-family: "Hammersmith One", sans-serif;
    padding-top: 8rem;
}

.pHist{
    color: #3E441E;
    font-family: "Hammersmith One", sans-serif;
    padding-top: 3rem;
    margin-left: 10rem;
    margin: 3rem;
}

.Hist img{
    text-align: center;
    margin: 4rem;
    width: fit-content;
    object-fit: fill;
    display: flex;
}

.row{
    margin: 0;
    padding: 0;
}

.SobreCards img{
    width: 15rem;
    height: 15rem;
}

.SobreEquipe img{
    width: 15rem;
    height: 15rem;
}

.CarouselImg img{
    width: fit-content;
}

.subtitulo{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    color: #fff;
  }
  
  @media screen and (max-width: 410px){
    .subtitulo{
      font-size: 2.7vw;
    }
  }
  
  @media screen and (min-width: 996px){
    .subtitulo{
      font-size: 2vw;
    }
  }

  .hero__title{
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    padding: 0.3rem;
    font-weight: 800;
    font-size: 5vw;
    color:#FFFFFF;
  }  
  
  @media screen and (max-width: 996px) {
    .hero__title{
      font-size: 8vw;
    }
  }

  .pTextos{
      font-size: 1vw;
  }

  @media screen and (max-width: 500px){
      .pTextos{
          font-size: 3vw;
      }
  }

  @media screen and (max-width: 996px){
      .pTextos{
          font-size: 2vw;
      }
  }