@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

.heroBanner {
    text-align: center;
    padding: 0 0;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    background-color: #C4C4C4;
}

.HeaderCPA img{
    text-align: center;
    margin: 0;
    padding: 0rem;
    width: fit-content;
    align-items: center;
  }

  .Menu{
    float: center;
    align-content: center;
    width: 100%;
    object-fit: contain;
}

.ulLista{
    background-color: #C4C4C4;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    word-spacing: 2rem;
    float: center;
    width: 100;
    object-fit: contain;
}

.liLista{
    float: left;
    cursor: pointer;
}

.liLista a {
    display: block;
    padding: 5px;
    background-color: #C4C4C4;
    color: #004AAD;
    font-weight: 700;
    font-family: "Inria Sans", sans-serif;
    font-size: 1rem;
}

.liLista a:hover{
    background-color: #004AAD;
    color: #C4C4C4;
}

.logoCPA img{
    width: 250px;
    align-items: center;
    margin-left: 2rem;
}

@media screen and (max-width: 280px){
    .liLista a{
        font-size: 0.6rem;
    }
}

@media screen and (min-width: 996px){
    .logoCPA img{
        width: 350px;
        margin-left: auto;
    }
}

.logoODS img{
    width: 100px;
    align-items: center;
    margin-left: 2rem;
}

@media screen and (min-width: 996px){
    .logoODS img{
        width: 150px;
        margin-left: auto;
    }
}

.h3{
    font-size: large;
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    text-align: center;
    color: #6A7584;
}

.h2Objetivos{
    font-size: large;
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    text-align: center;
    color: #6A7584;
}

.h2{
    font-size: large;
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    text-align: center;
    color: #6A7584;
}

@media screen and (min-width: 996px){
    .h2{
        font-size: 1.5rem;
    }

    .h3{
        font-size: 1.2rem;
    }

    .h2Objetivos{
        font-size: 1.2rem;
        margin-top: 10%;
    }
}

.h2CPA{
    font-size: large;
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    text-align: center;
    color: #6A7584;
}



@media screen and (min-width: 996px){
    .h2CPA{
        font-size: 1.5rem;
        margin-top: 5rem;
    }
}


.h4CPA{
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1rem;
    color: #004AAD;
}

.h4Equipe{
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    color: #6A7584;
}

@media screen and (min-width: 996px){
    .h4Equipe{
        margin-top: 10%;
    }
}

.paragrafo{
    font-family: "Inria Sans", sans-serif;
    font-size: 0.9rem;
    color: #004AAD;
    text-align: center;
}

.justificativa{
    font-family: "Inria Sans", sans-serif;
    font-size: 0.9rem;
    color: #004AAD;
    text-align: center;
    padding-right: 2rem;
    padding-left: 2rem;
}

.sobreObjetivos{
    font-family: "Inria Sans", sans-serif;
    margin-top: 3rem;
    font-size: 0.9rem;
    color: #004AAD;
    text-align: center;
}

.descricao{
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    font-style: italic;
    color: #004AAD;
    text-align: center;
}

.Cards{
    background-color: #e7dcdc;
    padding: 0.2rem;
    border-radius: 3%;
    align-items: center;
}

.containerCards{
    margin-bottom: 5rem;
    width: 80%;
}

.containerMain{
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.SobreCards img{
    text-align: center;
    width: 8rem;
    height: 8rem;
}

.icone{
    width: 30px;
}

.row{
    margin: 0;
}