@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

.main{
    background-color: #f6f6f6;
}

[data-theme='dark'] .main{
    background-color: transparent;
}

.heroBanner {
    text-align: center;
    background-color: #33722e;
    padding: 1rem 0;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0rem;
    margin-top: 0rem;
    text-align: center;
    width: 100%
}

.containerNav {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: #EBF1E0;
    border: 1rem solid #EBF1E0;
    color: #3E441E;
}

.containerS {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 0rem;
    margin-top: 2rem;
    text-align: center;
    width: 100%
}

.hero__title{
    text-align: center;
    font-family: "Hammersmith One", sans-serif;
    padding: 0.3rem;
    font-weight: 400;
    font-size: 4rem;
    color:#3E441E;
    letter-spacing: 10%;
}

.hero__subtitle{
    text-align: center;
    text-transform: uppercase;
    font-family: "Hammersmith One", sans-serif;
    padding: 0.3rem;
    font-weight: 400;
    font-size: 1rem; 
    color: #3E441E;
    letter-spacing: 10%;
    margin-bottom: 0;
}

.pConhecer{
    color: #3E441E;
    font-family: "Hammersmith One", sans-serif;
    padding-top: 3rem;
    margin-right: 10rem;
    margin: 3rem;
}

.conhecerSobre img{
    text-align: center;
    margin-left: 4rem;
    padding-left: 4rem;
    size: 4rem
}

.conhecerSobre{
    width: 100%;
    height: 100%;
}

.containerColuna1{
    width: 100%;
}

.Atividades img{
    text-align: center;
    size: 3rem;
    margin-right: 3rem;
    padding-right: 3rem;
}

.h2Gepdai{
    color: #33722e;
}


.Info img{
    text-align: center;
    margin: 0;
    padding: 1rem;
    max-width: 18rem;
    max-height: 18rem;
    width: 18vw;
    height: 18vw;
}

.Icons img{
    text-align: center;
    margin: 0;
    padding: 1rem;
    max-width: 2rem;
    max-height: 2rem;
    width: 9vw;
    height: 9vw;
}

.LogoGepdai img{
    text-align: center;
    margin: 0;
    padding: 0rem;
    width: 30%;
    align-items: center;
  }

.ulLista{
    background-color: #33722e;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    word-spacing: 2rem;
    float: center;
}

.ulNavBar{
    background-color: #33722e;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    word-spacing: 2rem;
    float: center;
}

.liLista{
    float: left;
    cursor: pointer;
}

.liLista a {
    display: block;
    padding: 8px;
    background-color: #33722e;
    color: #f1f1f1;
    font-weight: 400;
    font-family: "Hammersmith One", sans-serif;
    font-size: 1.5rem;
}

.liNavBar{
    float: left;
    cursor: pointer;
}

.liNavBar a {
    display: block;
    padding: 8px;
    background-color: #33722e;
    color: #f1f1f1;
    font-weight: 400;
    font-family: "Hammersmith One", sans-serif;
    font-size: 1.5rem;
}

.liLista a:hover{
    background-color: #f1f1f1;
    color: #33722e;
}

.liNavBar a:hover{
    background-color: #f1f1f1;
    color: #33722e;
}

@media(max-width:470px){
    .liNavBar a{
        font-size: 1rem;
    }
}

@media(max-width:359px){
    .liNavBar a{
        font-size: 0.8rem;
    }
}

@media(max-width:297px){
    .liNavBar a{
        font-size: 0.6rem;
    }
}

@media(max-width:470px){
    .liLista a{
        font-size: 1rem;
    }
}

@media(max-width:359px){
    .liLista a{
        font-size: 0.8rem;
    }
}

@media(max-width:297px){
    .liLista a{
        font-size: 0.6rem;
    }
}
 
.Menu{
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    float: center;
    align-content: center;
    width: 100%;
    box-sizing: border-box;
    object-fit: contain;
}

[data-theme='dark'] .Menu{
    border-top: transparent;
    border-bottom: transparent;
}


.NavBar{
    background-color: #3E441E;
    margin-left: 3rem;
    margin-right: 3rem;
    color: #EBF1E0;  
    width: 100%;
    box-sizing: border-box;
    object-fit: contain;
    float: center;
    align-content: center;
    margin-top: 3rem;
}

.Atividades{
    background-color: #3E441E;
    margin-bottom: 2rem;
}

.Atividades img{
    text-align: center;
    margin-left: 4rem;
    padding-left: 4rem;
    width: 25rem;
    height: 25rem;
}

.pAtividades{
    color: #EBF1E0;
    font-family: "Hammersmith One", sans-serif;
    padding-top: 8rem;
}

.pHist{
    color: #3E441E;
    font-family: "Hammersmith One", sans-serif;
    padding-top: 3rem;
    margin-left: 10rem;
    margin: 3rem;
}

.Hist img{
    text-align: center;
    margin: 4rem;
    width: 10rem;
    height: 10rem;
}

.row{
    margin: 0;
    padding: 0;
}