@import url('https://fonts.googleapis.com/css?family=Fjalla One');
@import url('https://fonts.googleapis.com/css?family=Michroma');


.heroBanner {
    background-color: #5F634F;
    padding: 1rem 0;
    position: relative;
    overflow: hidden; 
    margin-bottom: 0;
    align-items: center;
}

.Menu{
    float: center;
    align-content: center;
    width: 100%;
    margin-top: 0rem;
    object-fit: contain;
    background-color: #5F634F;
}

.ulLista{
    background-color: #5F634F;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-left: 18rem;
    padding-right: 30rem;
    overflow: hidden;
    float: center;
    width: 100%;
}

.liLista{
    float: right;
    cursor: pointer;
}

.liLista a {
    display: block;
    margin-top: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: #5F634F;
    color: #E9A053;
    font-weight: 500;
    font-family: 'Fjalla One', sans-serif;
    text-transform: capitalize;
    font-size: 1.2rem;
}

.liLista a:hover{
    border-top: 3px solid #E9A053;
    border-bottom: 3px solid #E9A053;
}

/* textos */

.h2Repri{
    font-family: 'Michroma', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    color: #E9A053;
    padding-top: 6rem;
    text-transform: uppercase;
}

.h2{
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 1.2rem;
    color: #E9A053;
}

.paragrafo{
    font-family: 'Fjalla One', sans-serif;
    font-weight: 200;
    text-align: justify;
    font-size: 1rem;
}

/* imagens */

.LogoRepri img {
    text-align: center;
    margin-top: 0;
    margin-left: 3.5rem;
    width: 12rem;
}

.logoCentral img{
    text-align: center;
    margin-top: 0;
    width: 21rem;
}

.ilustracao{
    text-align: center;
    margin-top: 0;
    width: 15rem;
  /*  padding-left: 5rem; */
}

.emConstrucao{
    width: 50rem;
}

.modelo{
    width: 50rem; 
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* colunas */ 

.colunaComFundo{
    background-color: #D3D3D3;
    width: 100%;
    padding: 2rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
}

.center{
    text-align: center;
}

.colunaSemFundo{
    background-color: transparent;
    width: 100%;
    padding: 2rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
}

/* geral */

.row{
    padding: 0;
    margin: 0;
}