.heroBanner {
    text-align: center;
    background-color: #AA6939;
    padding: 4rem 0;
    position: relative;
    overflow: hidden;
}

.cBanner{
    text-align: center;
    background-color: #AA6939;
    position: relative;
    overflow: hidden;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    margin-top: 4rem;
    text-align: center;
    width: 100%
}

.row{
    margin: 0%;
}

.hero__title{
    text-align: center;
    font-family: "Playfair Display", serif;
    padding: 0.3rem;
    font-weight: 800;
    font-size: 4.6875rem;
    color:#FFCEAA;
  }

.titleConhecimentos{
    text-align: center;
    font-family: "Playfair Display", serif;
    padding: 0.3rem;
    font-weight: 600;
    font-size: 3rem;
    color: #804215;
}

.hero__subtitle{
    text-align: center;
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    padding: 0.3rem;
    font-weight: 300;
    font-size: 1.5rem;
    color:#FFFFFF;
}

.subConhecimentos{
    text-align: center;
    font-family: "Inter", sans-serif;
    padding: 0.3rem;
    font-weight: 500;
    font-size: 1rem;
    color:#FFFFFF;
}

.Infos {
    margin-top: 0rem;
    background-color: #D4976A;
  }

.InfosP {
    text-align: center;
    font-family: "Inter", sans-serif;
    padding: 0.3rem;
    font-weight: 300;
    font-size: 1.5rem;
    color:#FFFFFF;
}

.InfosTitle {
    text-align: center;
    font-family: "Playfair Display", serif;
    padding: 0.5rem;
    font-weight: 300;
    font-size: 1.5rem;
    color:#804215;   
}

.pSobreEquipe{
    text-align: justify;
    font-family: "Inter", sans-serif;
    padding: 0.5rem;
    font-weight: 300;
    font-size: 1rem;
    color:#FFFFFF; 
  }

.tSobreEquipe{
    margin-top: 4rem;
    text-align: center;
    font-family: "Playfair Display", serif;
    padding: 0.5rem;
    font-weight: 600;
    font-size: 3rem;
    color:#804215; 
}

.tFooter{   
    margin-top: 4rem;
    text-align: center;
    font-family: "Playfair Display", serif;
    padding: 0.5rem;
    font-weight: 600;
    font-size: 2rem;
    color:#804215; 
}

.pFooter{
    text-align: center;
    font-family: "Inter", sans-serif;
    padding: 0.5rem;
    font-weight: 300;
    font-size: 1.5rem;
    color:#FFFFFF; }

.tEstudos{
    margin-top: 2rem;
    text-align: center;
    font-family: "Playfair Display", serif;
    padding: 0.5rem;
    font-weight: 600;
    font-size: 2.3rem;
    color:#804215; 
}

.tInteresses{
    margin-top: 4rem;
    text-align: center;
    font-family: "Inter", sans-serif;
    padding: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
}


.pEstudos{
    text-align: justify;
    font-family: "Inter", sans-serif;
    padding: 0rem;
    font-weight: 400;
    font-size: 1.2rem;
    color:#FFFFFF; 
  }

.tConhecimentos{
    margin-top: 2rem;
    text-align: center;
    font-family: "Playfair Display", serif;
    padding: 0.5rem;
    font-weight: 600;
    font-size: 2.3rem;
    color:#804215;
}

.pConhecimentos{
    text-align: center;
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    padding: 0rem;
    font-weight: 400;
    font-size: 1.2rem;
    color:#FFFFFF; 
  }

.fundo{
    background-color: #D4976A;
}

.fundo2{
    background-color: #FFCEAA;
}

.fundo3{
    background-color: #FFCEAA;
    margin-bottom: 1.5rem;
}

.Logos{
    margin-left: 6.5rem;
    width: 45px;
    height: 45px;
    padding: 0.5rem;
}

.Logos2{
    width: 45px;
    height: 45px;
    padding: 0.5rem;
}