// banner

.container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
  padding: 2rem;
}

.heroBanner {
  text-align: center;
  color: #f7f7f7;
}

.hero__title {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  padding: 0.3rem;
  font-weight: 800;
  font-size: 4vw;
  color: #ffffff;
}

@media screen and (max-width: 996px) {
  .hero__title {
    font-size: 8vw;
  }
}

.subtituloProjetos {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  padding: 0.3rem;
  font-weight: 800;
  font-size: 2vw;
  color: #ffffff;
}

@media screen and (max-width: 433px) {
  .subtituloProjetos {
    font-size: 2.8vw;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  padding: 0 2rem;
}

.h1A {
  font-size: 2vw;
  font-weight: bolder;
  font-family: "Josefin Sans", sans-serif;
  padding: 3rem;
}

@media screen and (max-width: 996px) {
  .h1A {
    margin: 0;
    font-size: 3vw;
  }

  .pProjetos {
    text-align: justify;
    line-height: 2;
  }

  .container {
    margin-top: 20px;
  }
}

@media screen and (max-width: 433px) {
  .h4Projetos {
    text-align: justify;
    font-size: 1.2vw;
    padding: 0;
  }

  @media screen and (max-width: 996px) {
    .h4Projetos {
      text-align: justify;
      font-size: 2vw;
      padding: 0;
    }
  }

  .logosGrupos img {
    text-align: center;
    width: 25rem;
    height: 25rem;
  }
}

// projetos dados

.Projeto {
  text-align: center;
  border: 0.2rem solid white;
  margin: 1rem;
}

.projetos {
  width: 90%;
  background: #dedfe1;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0;
}

.imagemProjeto {
  margin: auto;
}

.imagemProjeto img {
  margin: 0;
  padding: 1rem;
  max-width: 15rem;
  max-height: 15rem;
  width: 15vw;
  height: 15vw;
}

.projetoTexto {
  text-align: center;
  width: 100%;
  font-weight: normal;
  padding: 1rem;
  margin-bottom: 1rem;
}

.projetoTexto h2 {
  font-size: 1.5rem;
}

.projetoTexto a {
  margin: auto;
}

.projetoTexto p {
  color: black;
  font-size: 1.2rem;
}

.projetoTexto h3 {
  color: black;
}

[data-theme="dark"] .projetos {
  background-color: transparent;
  border-color: #f4f6fe;
  border-width: 0.2rem;
}

[data-theme="dark"] .projetos p {
  color: #dedfe1;
}

[data-theme="dark"] .projetoTexto h3 {
  color: #dedfe1;
}

@media screen and (max-width: 433px) {
  .subtituloProjetos {
    font-size: large;
  }
}

@media screen and (max-width: 996px) {
  .hero__title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 996px) {
  .h1A {
    margin: 0;
    font-size: 5vw;
    padding: 0;
    margin-bottom: 20px;
  }
  .container {
    padding: 16px;
  }

  .Infos {
    height: 500px;
  }
}

.card.col.col--6 {
  min-height: 1000px;
}
