.doc {
  margin: 0;
  width: 100%;
  padding: 3rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  min-height: 259px;
  height: 85%;

  div {
    img {
      max-width: 200px;
      max-height: 190px;
    }
  }

  aside {
    display: flex;
    flex-direction: column;
    width: 100%;

    h3 {
      text-align: left;
      padding: 0;
    }

    a {
      align-self: flex-end;
    }
  }
}

@media screen and (max-width: 996px) {
  .doc {
    div {
      img {
        max-width: 100px;
      }
    }
  }
}
