@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

.body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: black;
  font-size: small;
}

.span {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  display: block;
  color: #923d37;
  font-size: 45px;
  letter-spacing: 8px;
  cursor: pointer;
}

.span::before {
  content: "JÚLIA DOS SANTOS SILVEIRA";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    #e3e7d3 2px,
    #e3e7d3 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0;
  z-index: -1;
  transition: 1s;
}

.span::after {
  content: "JÚLIA DOS SANTOS SILVEIRA";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    135deg,
    transparent 0,
    transparent 2px,
    #e3e7d3 2px,
    #e3e7d3 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0px;
  transition: 1s;
}

.span:hover:before {
  top: 10px;
  left: 10px;
}

.span:hover:after {
  top: -10px;
  left: -10px;
} 