@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

[data-theme='dark'] .main{
    background-color: transparent;
}
 
.heroBanner {
    text-align: center;
    background-color: #eeeeee;
    padding: 1rem 0;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
}

[data-theme='dark'] .heroBanner{
    background-color: transparent;
}

.intro img{
    width: 100%;
    margin-left: 3em;
}

.ulLista{
    background-color: #eeeeee;
    list-style-type: none;
    display: flex;
    justify-content: end;
    margin-right: 3em;
    padding: 0;
    overflow: hidden;
    word-spacing: 2rem;
    float: center;
    width: 100;
    object-fit: contain;
    text-align: end;
}

[data-theme='dark'] .ulLista{
    background-color: #eeeeee;
}

.liLista{
    float: left;
    cursor: pointer;
}

.liListaSelecionado a{
    display: block;
    padding: 8px;
    background-color: #eeeeee;
    color: #ab090e;
    font-weight: 400;
    font-family: "Comfortaa", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none !important;
}

.liLista a {
    display: block;
    padding: 8px;
    background-color: #eeeeee;
    color: #000000;
    font-weight: 400;
    font-family: "Comfortaa", sans-serif;
    font-size: 1rem;
    text-decoration: none !important;
}

[data-theme='dark'] .liLista a{
    background-color: #eeeeee;
    color: #000000;
}

.liLista a:hover, .liLista a.active, .selecionado{
    background-color: #eeeeee;
    color: #ab090e;
    font-weight: 700;
}

[data-theme='dark'] .liLista a:hover{
    background-color: #eeeeee;
    color: #ab090e;
}

@media(max-width:525px){
    .liLista a{
        font-size: 0.9
    }
}

@media(max-width:470px){
    .liLista a{
        font-size: 0.8rem;
    }
}

@media(max-width:359px){
    .liLista a{
        font-size: 0.6rem;
    }
}

@media(max-width:300px){
    .liLista a{
        font-size: 0.5rem;
    }
}

.texto{
    font-family: "Comfortaa", sans-serif;
    color: #656565;
    font-size: 1.125rem;
    font-weight: 300;
}

.textoEquipe{
    font-family: "Comfortaa", sans-serif;
    color: #656565;
    font-size: .8rem;
    font-weight: 300;
    margin-bottom: .25rem;
}

.containerUm{
    background-color: #fafafa;
}

.titulo{
    font-family: "Comfortaa", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #ab090e;
    margin: 0;
    padding: 0;
    text-align: start;
    margin-bottom: .75rem;
}

.btnUm{
    background-color: #ab090e;
    color: #eeeeee;
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    margin: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.5rem;
}

.containerCards{
    margin-bottom: 5rem;
    width: 80%;
}

.SobreCards img{
    text-align: center;
    width: 5rem;
    height: 5rem;
}

.Cards{
    background-color: #f1f1f1;
    padding: 0.2rem;
    border-radius: 3%;
    align-items: center;
}

a{
    text-decoration: none !important;
}

.sobreImg{
    width: 18rem;
}

.containerEquipe{
    border: 2px solid #656565;
    border-radius: 1rem;
}

.fotoEquipe{
    width: 1.5rem;
}

.tituloEquipe{
    font-family: "Comfortaa", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #ab090e;
    margin: 0;
    padding: 0;
    text-align: start;
    margin-bottom: .25rem;
}

.social{
    width: 1.5rem;
}

.cardNoticias{
    border: 2px solid #f1f1f1;
}

.nav-link.active{
    color: #ab090e !important;
    font-weight: 700 !important;
    font-family: "Comfortaa", sans-serif !important;
}

.imgHome{
    width: 18rem;
}

.cardProjetos{
    border: 1px solid #fafafa;
    background-color: #f1f1f1;
    border-radius: 1rem;
}

.cardTitulo{
    font-family: "Comfortaa", sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    color: #ab090e;
    margin: 0;
    padding: 0;
    text-align: start;
    margin-bottom: .75rem;
}

.cardTexto{
    font-family: "Comfortaa", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #656565;
    margin: 0;
    padding: 0;
    text-align: start;
    margin-bottom: .75rem;
}