@import url('http://fonts.cdnfonts.com/css/lovelo');
  
  .heroBannerPod {
    background-color: #051D40;
    padding: 1rem 0;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    align-items: center;
  }

  .Info img{
    text-align: center;
    margin: 0;
    width: 20rem;
    height: 20rem;
}

.Info{
  margin: 0;
  padding: 0;
}

  .Sobre {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    position: relative;
    padding: 0rem 0; 
    color: black;
    
  }

  .imagemSobre img{
    text-align: center;
    margin: 0;
    padding: 0rem;
    width: 10rem;
    height: 10rem;
    align-items: center;
  }

  .imagemNews img{
    text-align: center;
    margin: 0;
    padding: 0rem;
    width: 10rem;
    height: 10rem;
    align-items: center;
  }
/* paragrafos */
  .pSobrePod{
    margin-top: 2rem;
    color: rgb(44, 44, 44);
    font-family: "Montserrat", sans-serif;
  }

  .pEquipe{
    text-align: center;
    color: rgb(44, 44, 44);
    font-family: "Montserrat", sans-serif;
  }

  .pAcervo{
    font-size: 0.8rem;
    font-style: italic;
    padding: 0;
    text-align: center;
  }
  
  
  .pEpPod{
    margin-top: 2rem;
    background-color: #c7c7c9;
    padding: 4.5rem;
  }

  .pEquipe1{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    background-color: #c7c7c9;
    font: bold;
    color: #53263B;
  }

  .pEquipe2{
    margin-top: 2rem;
    color: #050a30;
    align-content: center;
    padding: 0rem;
  }

  .pSociais{
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    position: relative;
    padding: 0rem 0;
    color: black;
  }

  .pExmembro{
    text-align: center;
  }

/* heading 2 (h2) */ 

  .h2Newsletter{
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 0;
  }

  [data-theme='dark'] .h2Newsletter{
    color: #fff;
  }

  .h2T{
    text-align: center;
    margin-top: 3rem;
    text-transform: uppercase;
    font-size: 2rem;
    color: black;
  }

  .h2Link{
    text-align: center;
    margin-top: 3rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: black;
  }

  .h2ExM{
    text-align: center;
    font-size: 1.2rem;
    color: black;
  }

  .h2S{
    color: black;
  }

/* heading 3 (h3) */

  .h3Pod{
    font-family: 'Lovelo', sans-serif;
  }

/* heading 4 (h4) */

  .h4{
    font-size: 70%;
  }

  [data-theme='dark'] .h4Pod{
    color: #fff;
  }


  .imagemEquipe img{
    text-align: center;
    margin: 0;
    padding: 0rem;
    max-width: 15rem;
    max-height: 15rem;
    width: 15vw;
    height: 15vw;
    align-items: center;
  }

  .RedesLogo img{
    text-align: center;
    margin: 0;
    padding: 0rem;
    width: 15%;
    height: 15%;
    align-items: center;
    fill: white;
  }

  .RedesLogoM img{
    text-align: center;
    margin: 0;
    padding: 0rem;
    width: 15%;
    height: 15%;
    align-items: center;
    fill: white;
  }

  .LogoPod img{
    text-align: center;
    margin: 0;
    padding: 0rem;
    width: 10rem;
  }

  .RedesSociais img{
    text-align: center;
    margin: 0;
    padding: 0rem;
    max-width: 25rem;
    max-height: 25rem;
    width: 25rem;
    height: 25rem;
    align-items: center;
  }

  .Sociais{
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    position: relative;
    padding: 0rem 0;
    color: black;
  }

  .containerR{
    text-align: center;
    border-bottom: 2.5rem solid #fff;
    width: 100%;
  }

  .Centralizar{
    width: 100%
  }

  .LinkNewsletter{
    color: #53263B;
  }

  .highlightM{
    margin-top: 2rem;
    margin-bottom: 0;
    background: linear-gradient(120deg, #b18599 0%, #b18599 100%);
    background-repeat: no-repeat;
    background-size: 18% 40%;
    background-position: 50% 40%;
}

  .highlightExM{
    margin-top: 2rem;
    margin-bottom: 0;
    background: linear-gradient(120deg, #b18599 0%, #b18599 100%);
    background-repeat: no-repeat;
    background-size: 35% 35%;
    background-position: 50% 50%;
  }

  .pagCor{
    background-color: #f4f3ee ;
}

.Menu{
  float: center;
  align-content: center;
  width: 100%;
  margin: 0;
}

.ulLista{
  width: 100%;
  /* border-radius: 5px; */
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: center;
}

.liLista{
  width: 100%;
  float: left;
  cursor: pointer;
  font-weight: 1000;
  font-family: "Josefin Sans", sans-serif;  
  font-size: 80%;
}

.liLista a {
  display: block;
  /* border-radius: 5px; */
  border: 5px solid #5a759c;
  background-color: #5a759c;
  color: #fff;
}

.liLista a:hover{
  /* border-radius: 5px; */
  background-color: #051D40;
  color: #fff;
}

.botaoInfo{
  font-size: 50%;
}

.infos{
  background-color: #050a30;
  color: #fff;
  width: 100%;
  padding: 1rem;
  margin-bottom: 5rem;
}

.newsletterForms{
  border: none;
  border-bottom: 1px solid #d4d4d4;
  width: 75%;
  background: transparent;
  transition: all .25s ease;
}

.newsletterForms:focus{
  outline: none;
  border-bottom: 2px solid #050a30;
}

.newsletterBotao{
  margin: 1rem;
  border: none;
  border-radius: 0;
  background-color: #050a30;
  color: #fff;
  padding: 12px 25px;
  display: inline-block;
  font-size: 9px;
  font-weight: bold;
  letter-spacing: 2px;
  right: -10px;
  bottom: 30px;
  cursor: pointer;
  transition: all .25s ease;
}

.newsletterBotao:hover{
  background-color: #051d40;
}

@viewport{
  width: fit-content;
}

@media screen and (max-width: 614px){
  .liLista{
    font-size: 60%;
  }
}

@media screen and (max-width: 486px){
  .liLista{
    font-size: 50%;
  }
}

.row{
  margin: 0;
  padding: 0;
}