@charset "UTF-8";

@font-face {
  font-family: Josefin Sans;
  font-weight: 400;
  src: url("/home/lantri_rafael/codigo/labri/python/static/JosefinSans-Regular.ttf");
}

@font-face {
  font-family: Josefin Sans;
  font-style: italic;
  font-weight: 400;
  src: url("/home/lantri_rafael/codigo/labri/python/static/JosefinSans-Italic.ttf");
}
@font-face {
  font-family: Josefin Sans;
  font-weight: 600;
  src: url("/home/lantri_rafael/codigo/labri/python/static/JosefinSans-SemiBold.ttf");
}

@font-face {
  font-family: Josefin Sans;
  font-style: italic;
  font-weight: 600;
  src: url("/home/lantri_rafael/codigo/labri/python/static/JosefinSans-SemiBoldItalic.ttf");
}
@font-face {
  font-family: Montserrat;
  font-weight: 400;
  src: url("/home/lantri_rafael/codigo/labri/python/static/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 400;
  src: url("/home/lantri_rafael/codigo/labri/python/static/Montserrat-Italic.ttf");
}
@font-face {
  font-family: Montserrat;
  font-weight: bold;
  src: url("/home/lantri_rafael/codigo/labri/python/static/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: bold;
  src: url("/home/lantri_rafael/codigo/labri/python/static/Montserrat-BoldItalic.ttf");
}

@page {
  size: A4;
  margin: 2cm;
  @top-right {
    content: counter(page);
    font-weight: bold;
    color: white;
    background: #EC1374;
    font-size: 11pt;
    height: 1cm;
    text-align: center;
    width: 1cm;
    font-family: "Montserrat";
    font-size: 10pt;
    margin-bottom: 1rem;
   }
   @top-left {
    margin-left: 0.5cm;
    background: none;
    font-size: 9pt;
    height: 1cm;
    text-align: left;
    width: 100%;
    content: string(cabecalho);
    font-family: "Montserrat";
    font-size: 7pt;
    display: block;
    margin-bottom: 1rem;
  }
  @top-center{
    content: '';
    height: .05cm;
    width: 100%;
    background: #EC1374;
    width: 100%;
    display: block;
    margin-bottom: 1rem;
  }
  @bottom-left{
    background: none;
    font-size: 9pt;
    height: 1cm;
    text-align: left;
    width: 100%;
    content: string(rodape);
    display: block;
    font-family: "Montserrat";
    font-size: 7pt;
  }
  @bottom-center{
    content: '';
    height: .05cm;
    width: 100%;
    background: #EC1374;
    width: 100%;
    display: block;
  }
}
@page :blank {
  @top-center {
    content: "Blank-page"; }
  @top-right {
    content: none; } }

@page :first {
  background: url(/home/lantri_rafael/codigo/labri/python/style/cover.png) no-repeat center;
  background-size: cover;
  margin: 0;
  content: title;

}

@page pre_textuais {
  margin: 0;
  content: none;
  @top-right {
    content : none}
  }
@page :blank {
  @top-left {
    background: none;
    content: ''; }
  @top-center {
    content: none; }
  @top-right {
    content: none; }
  }

@page apresentacao{
  margin: 2cm;
  background: url(/home/lantri_rafael/codigo/labri/website/static/img/apretentacao.png) no-repeat center;
  @top-left {
    background: none;
    content: ''; }
  @top-center {
    content: none; }
  @top-right {
    content: none; }

}
@page last {
  margin: 0;
  content: none;
  background: url(/home/lantri_rafael/codigo/labri/python/style/endpage.png) no-repeat center;
  background-size: cover;
  @top-center {
    background: none;
  }
  @top-left {
    none;
  }
  @top-center{
    content: none;
  }
  @bottom-left{
    background: none;
  }
  @bottom-center{
    content: none;
  }
}

@page first_concent{
  @top-center{
    background: #348EFA;
    display: flex;
    width: 100%;
    content: string(titulo)
  }
}

body{
  width: 90%;
  margin: auto;
}

main{
  width: 90%;
}

img{
  max-width: 20rem;
  max-height: 20rem;
  padding: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p{
  font-size: 12pt;
  font-family: "Montserrat";
  text-align: justify;
  line-height: 1.5;
}

li{
  font-family: Josefin Sans;
  font-weight: 400;
}

article{
  page-break-before: always
}

h4{
  font-style: normal;
  font-weight: normal;
}

h5{
  font-family: Josefin Sans;
  font-size: 13pt;
  font-style: italic;
}
  
figcaption{
  text-align: center;
  font-family: Josefin Sans;
  font-size: 10pt;
}


.contracapa p, .referencias p{
  line-height: normal;
}

.apresentacao{
  page: apresentacao;
}

.apresentacao h1{
  margin-top: 5rem;
}

.cadernos_labri{
  string-set: titulo content();
  font-family: Josefin Sans;
  font-weight: 600;
  font-size: 31pt;
  width: auto;
  margin: auto;
  color: #EC1374 ;
  border-bottom: 7pt solid #C9C9C9;

}

.cabecalho p{
  string-set: cabecalho content();
}
#referencias-bibliograficas{
  font-size: 16pt;
  font-style: bold;
  text-align: center;
}


.titulo-publicacao{
  padding-top: 25%;
  padding-left: 5rem;
  padding-right: 5rem;

  }
.cover .titulo{
  font-family: Josefin Sans;
  font-weight: 600;
  font-style: italic;
  font-size: 30pt;
  color: #348EFA;
  padding-top: 5rem;
  string-set: rodape content()

}
.serie{
  float: right;
  padding-top: 1rem;
}

.cover adress{
  width: 40%;
  margin:auto;
  font-size: 15pt;
}
.logo{
  position: absolute;
  right: 10%;
}

.cabecalho_capa{
  padding-top: 10%;
  padding: auto;
  margin: auto;
}

.cover h1{

  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.cadernos_labri mark{
  color: #348EFA;
  background: none;
  width: 2rem;
}

.logos{
  position: absolute;
  right: 10rem;
  bottom: 1rem;
  display: flex;
  vertical-align: middle
}

.creative_commons{
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  display: flex;
  vertical-align: middle;
}

.column{
  flex: 30%;
  float: right;
  padding: 10px;
}

.logo_img{
  max-width: 8rem;
  max-height: 8rem;
  vertical-align: middle;
  padding: 1rem;
}
.cc_img{
  max-width: 3rem;
  padding: 0.1rem;
}
.column_cc{
  flex: 30%;
  float: left;
  padding: 15px;
}

.column_cc p {
  color: white;
  font-size: 2.2rem;
  margin: 0;
  padding: 0.3rem;
  max-width: 3rem;
}

.logo_unesp{
  padding-top: 25px
}
.row {
  display: flex;
}
.contracapa {
  page: pre_textuais;
}

.contracapa h4{
  text-align: center;
  font-weight: bold;
}
.column_contracapa p {
  font-size: 10;
  font-family: "Montserrat";
  margin: 0.1rem;
}
.contracapa h3{
  font-family: "Montserrat";
  font-size: 11;
}
.contracapa h6 {
  font-family: "Montserrat";
  font-size: 12;
  text-align: center;
  font-weight: bold;
  padding: 0.1rem;

}

.logos_contracapa{
 display: flex;
 position: absolute;
 bottom: 0;
 width: 100%;
 justify-content: center;
}

.column_contracapa{
  flex: 50%;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.corpo_editorial h5{
  text-align: center;
  font-weight: bold;
  padding: 0.1rem;
  margin:0.1rem;
}

.corpo_editorial p{
  text-align: center;
}

.contracapa h6{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contracapa h6 img{
  display: flex;
  padding-left: 5rem;
  padding-right: 5rem;
}

.contracapa img{
  flex: 100%;
  max-width: 8rem;
  max-height: 8rem;
  padding: 1rem;
  margin: auto;
}

.titulo_conteudo{
  width: 100%;
  padding-top: 1rem;
}

h2{
string-set: chapterstring content();
}

h3{
string-set: subchapterstring content();
}
#sumario ul li {
  border-top: .25pt solid #EC1374;
  margin: .25cm 0;
  padding-top: .25cm;
  padding-left: 1.25rem;
  font-size: 14pt;
  line-height: 1.5;
}

.objetivos_labri{
  padding: .7rem;
  
 
}

.objetivos_labri li{
  font-size: 8pt;
  font-family: 'Montserrat';

}

#sumario h2{
  text-align: center;
  font-family: Josefin Sans;
}

#sumario a:link, #sumario a:visited{
  color: black;

}

#sumario ul li a::after {
  content: target-counter(attr(href), page);
  color: #EC1374;
  float: right;
  margin-left: 2rem;}
  
#sumario a{
  text-decoration: none;
}
#sumario li{
  list-style-type: none;
}


.titulo_conteudo h2{
  font-family: Josefin Sans;
  font-size: 18pt;
  font-weight: 400;
  text-align: center;
}

.autores{
  font-family: Josefin Sans;
  text-align: right;
  font-size: 16pt;
  font-style: italic;
  color: #EC1374;
  font-weight: 400;
  padding-bottom: 2rem;
}

.content a{
  color:black;
}
.content h3{
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 16pt;
  color: #EC1374;
}

.content h4{
  font-family: Josefin Sans;
  font-weight: 600;
  font-size: 14pt;
}

.footnote-backref{

}

.footnote-ref, .footnote-backref{
  color:black;
}
.footnote-ref:visited, footnote-backref:visited{
  color:black;
}

.endpage{
  page: last;
}

.logo_fim{
  max-width: 20rem;
  max-height: 20rem;
}

.row_endpage{
  display: flex;
  width: 100%;
}

.column_endpage{
  align-items: center;
  align-self: center;
  padding-top: 60%;
  flex: 50%;
  text-align: center;
}

.column_endpage p{
  text-align: center;
  float: center;
  font-size: 16pt;
  font-family: "Montserrat";
  color: #DBADAC;
}

.infos_endereco{
  text-align: center;
  padding-top: 5rem;
  font-size: 10pt;
  line-height: 1.5;
  font-family: "Montserrat";
}

.abnt{
  text-align: justify;
  font-size: 12pt;
  width: 80%;
  margin: auto;
  padding-top: 5rem;
}

ul{
  margin: 0;
  padding: 0;
}

ul li::marker {
  color: #EC1374;
}

pre{
  color: black;
  background-color: #F5F5F5;
  background-size:2rem;
  font-family: "Roboto" monospace;
  font-size: 10pt;
  overflow: auto;
  white-space: pre-wrap;

}

blockquote{
  margin-right: 0;
  margin-left: 5cm;
  padding-top:  0.5;
  padding-bottom:  0.5;
}

blockquote p{
  font-family: Montserrat;
  font-size: 9pt;
  line-height: 1;

}

p span{
  text-align: left;
}
span{
  font-size: 16pt;  
  line-height: normal;
}


span::before{
  padding: .3rem;
  content: "";
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background-size: 2rem 2rem;
  background-image: url('/home/lantri_rafael/codigo/labri/python/style/l_quote.png');
  background-repeat: no-repeat;
}
span::after{

  content: "";
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background-size: 2rem 2rem;
  background-image: url('/home/lantri_rafael/codigo/labri/python/style/r_quote.png');
  background-repeat: no-repeat;

}
