.Sumario {
    text-align: center;
    margin: 0%;
    position: relative;
    padding: 0rem 0;
}

.imagemSumario img{
    text-align: center;
    margin: 0;
    padding: 0rem;
    max-width: 15rem;
    max-height: 15rem;
    width: 15vw;
    height: 15vw;
    align-items: center;
}