// HEADER

.heroBanner {
  text-align: center;
  color: #f7f7f7;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.hero__title {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  padding: 0.3rem;
  font-weight: 800;
  font-size: 4vw;
  color: #ffffff;
}

@media screen and (max-width: 996px) {
  .hero__title {
    font-size: 8vw;
  }
}

.subtituloProjetos {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  padding: 0.3rem;
  font-weight: 800;
  font-size: 2vw;
  color: #ffffff;
}

@media screen and (max-width: 433px) {
  .subtituloProjetos {
    font-size: 2.8vw;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
  padding: 2rem;
}

// BODY

.content {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  padding: 4rem 2rem;
}

.projetos {
  width: 90%;
  background: #dedfe1;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0;
}

.Projeto {
  text-align: center;
  border: 0.2rem solid white;
  margin: 1rem;
}

.imagemProjeto {
  margin: auto;
}

.imagemProjeto img {
  margin: 0;
  padding: 1rem;
  max-width: 15rem;
  max-height: 15rem;
  width: 15vw;
  height: 15vw;
  object-fit: contain;
}

.projetoTexto {
  text-align: center;
  width: 100%;
  font-weight: normal;
  padding: 1rem;
  margin-bottom: 1rem;
}

.projetoTexto h2 {
  font-size: 1.5rem;
}

.projetoTexto a {
  margin: auto;
}

.projetoTexto p {
  color: black;
  font-size: 1.2rem;
}

.projetoTexto h3 {
  color: black;
}

[data-theme="dark"] .projetos {
  background-color: transparent;
  border-color: #f4f6fe;
  border-width: 0.2rem;
}

[data-theme="dark"] .projetos p {
  color: #dedfe1;
}

[data-theme="dark"] .projetoTexto h3 {
  color: #dedfe1;
}

.redesSociais {
  display: inline-block;
  text-align: left;
}

.redesSociais img {
  text-align: left;

  height: 3rem;
  width: 3rem;
  padding: 0.3rem;
}
