.info {
  margin-top: 1rem;
  height: 37rem;
  position: relative;

  // .cardContent {
  //   display: flex;
  //   text-align: left;
  //   height: 88rem;
  // }
}

// .row .col.col--4.mid {
//     background: #ffffff;
//     color: white;
//     background: #02358e;
//     padding: 2rem;
//   }

//   .row .col.col--4.side {
//     background: #365b9d;
//     padding: 2rem;
//   }
