.Intro {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    position: relative;
    padding: 0rem 0;
    color: white;
  }
  
  .heroBannerOutros {
    padding: 5rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: #3578e5; 
  }
  
  .textIntro {
    padding: 2rem 3rem;
    margin-right: 0rem;
    margin-left: 0rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
    text-align:justify;
    position: relative;
    overflow: hidden;
    font-weight: bolder;
    background-color: #f0f0f0;
  }
  
  .Tutorial {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 5rem;
    position: center;
    padding: 2rem 0;
    font-weight: bold;
  }
  
  .Passos {
    align-content: center;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0%;
    margin-left: 10rem;
    margin-right: 10rem;
    column-width: 100rem;
    font-weight: bold;
  }
  
  .Tutorial img{
    text-align: center;
    margin: 0;
    padding: 1rem;
    max-width: 18rem;
    max-height: 15rem;
    width: 18vw;
    height: 15vw;
  }
  
  .Info img{
    text-align: center;
    margin: 0;
    padding: 1rem;
    max-width: 15rem;
    max-height: 15rem;
    width: 15rem;
    height: 15rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    column-width: 100rem;
  }
  
  .textInfo {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    column-width: 100rem;
  }
  
  .pPassos{
    margin-top: 12rem;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    position: relative;
    padding: 0rem 0;
  }
  
  .pPassos img{
    text-align: center;
    margin: 0;
    padding: 1rem;
    max-width: 20rem;
    max-height: 20rem;
    width: 20rem;
    height: 20rem;
  }
  
  .pPassos2{
    margin-top: 12rem;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    position: relative;
    padding: 0rem 0;
  }
  
  .pPassos2 img{
    text-align: center;
    margin: 0;
    padding: 1rem;
    max-width: 25rem;
    max-height: 20rem;
    width: 25rem;
    height: 20rem;
  }
  
  .pSobre{
    padding: 2rem 3rem;
    margin-top: 12%;
    text-align: center;
    margin-bottom: 0%;
    position: relative;
    color: #6b6b6b;
  }
  
  .Sobre img{
    text-align: center;
    margin-top: 8rem;
    margin-top: 0%;
    margin-bottom: 0%;
    position: relative;
    padding: 1rem;
    max-width: 20rem;
    max-height: 25rem;
    width: 20rem;
    height: 25rem;
  }