@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,300;1,400;1,700&display=swap');

.heroBanner {
    background-color: #90aeba;
    padding: 1rem 0;
    position: relative;
    overflow: hidden; 
    margin-bottom: 0;
    align-items: center;
}

[data-theme='dark'] .heroBanner{
    background-color: #fff;
}

.Menu{
    float: center;
    align-content: center;
    width: 100%;
    margin-top: 0rem;
    object-fit: contain;
    background-color: #90aeba;
}

.ulLista{
    background-color: #90aeba;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-left: 18rem;
    padding-right: 30rem;
    overflow: hidden;
    float: center;
    width: 100%;
}

.liLista{
    float: right;
    cursor: pointer;
}

.liLista a {
    display: block;
    margin-top: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: #90aeba;
    color: #137494;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: capitalize;
    font-size: 1.2rem;
}

.liLista a:hover{
    border-top: 3px solid #137494;
    border-bottom: 3px solid #137494;
}

@media screen and (max-width: 1000px) {
    .Menu{
        width: auto;
    }

    .ulLista{
        width: auto;
    }

    .liLista{
        width: auto;
    }

    .liLista a{
        font-size: small;
        display: flex;
    }
}

/* imagens */

.LogoDipp img {
    text-align: center;
    margin-top: 0;
    margin-left: 3.5rem;
    width: 12rem;
}

.logoMaior {
    text-align: center;
    margin-top: 0;
    margin-left: 30%;
    width: 30rem;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .logoMaior{
        width: auto;
    }

    .LogoDipp{
        width: auto;
    }
}

.icone{
    width: 5rem;
}

.membroIcon{
    width: 8rem;
    margin-top: 1rem;
    border-radius: 5px;
    border: 3px solid #137494;
}

.redes{
    /* margin-left: 11rem; */
    text-align: right;
}

.redeIcon{
    width: 4rem;
    padding-right: 1rem;
}

.logoIcon{
    width: 5rem;
    padding-right: 1rem;
}

.modelo{
    width: 50rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* coluna sem fundo */

.colunaSemFundo{
    background-color: transparent;
    width: 100%;
    padding: 2rem;
}

.colunaGaleria{
    background-color: transparent;
    width: 100%;
    padding: 1rem;
    margin-left: 2rem;
}

.h2Dipp{
    font-family: 'Roboto Condensed', sans-serif;
    color: #137494;
    font-size: 1.5rem;
}

/* coluna com fundo */

.colunaComFundo{
    background-color: #0F526C;
    width: 100%;
    padding: 2rem;
    margin-bottom: 1rem;
}

.pDipp{
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    font-size: 1.5rem;
    text-align: justify;
}

@media screen and (max-width: 1000px){
    .pDipp{
        font-size: medium;
    }
}

/* botões */

.center{
    text-align: center;
}

.botaoInfo{
    align-items: center;
    font-size: 80%;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    background-color: #478EA6;
    border: #478EA6;
  }

.botaoInfo:hover{
    color: #478EA6;
    background-color: transparent;
}



/* cards pag inicial */

.imgCards{
    width: 100%;
    text-align: center;
    padding-right: 3rem;
    padding-left: 3rem;
}

.h2Cards{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    color: #137494;
    text-align: center;
    font-weight: 800;
}

.pCards{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    color: #478EA6;
    text-align: center;
}

.Cards{
    background-color: transparent;
    padding: 0.2rem;
    border-radius: 3%;
    align-items: center;
}

.containerCards{
    align-items: center;
    margin-bottom: 5rem;
    width: 80%;
}

/* textos */

.h2Titulo{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.4rem;
    text-align: left;
    color: #137494;
    border-bottom: 2px solid #137494;
}

.subtitulo{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    text-align: left;
    color: #137494;
}

.descricao{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color: #137494;
}
 
.paragrafos{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    text-align: justify;
    font-weight: 500;
    color: black;
}

.publicacoes{
    color: #137494;
    font-family:  "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-align: justify;
    line-height: 1.5;
    margin-top: 1rem
}

/* cursos */
.containerCards{
    margin-bottom: 5rem;
    margin-left: 16rem;
    width: 80%;
}

@media screen and (min-width: 1440px) {
    .containerCards{
        margin-left: 18rem;
    }
}


.cardCursos{
    background-color: #F0F0F0;
    padding: 2rem;
    border-radius: 5.5%;
    align-items: center;
    margin-right: 2rem;
}

@media screen and (max-width: 1000px) {
    .containerCards{
        margin-left: 1.5rem;
    }

    .cardCursos{
        margin-bottom: 2rem;
    }
}




.imgCursos{
    width: 25rem;
    border-radius: 2.5%;
    opacity: 70%;
}

.imgCursos:hover{
    opacity: 100%;
}

.botao{
    align-items: center;
    font-size: 80%;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    background-color: #137494;
    border: #137494;
}

.botao:hover{
    background-color: #90AEBA;
    color: #137494;
}

.h2Cursos{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    color: #137494;
    text-align: left;
    font-weight: 600;
}

.pCursos{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.7rem;
    color: #000;
    text-align: justify;
}

/* config */

.row{
    padding: 0;
    margin: 0;
}

.container{
    padding: 0;
    margin: 0;
}

.center{
    text-align: center;
}